<div class="container text-center">
    <h1>About Page</h1>
    <p>We are JubbuT. You are JubbuT. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit reprehenderit, quae aperiam accusamus error. Officiis iure a unde labore tempora expedita, molestiae temporibus. Obcaecati recusandae quidem, itaque nam officia est.</p>
</div>